@color-auth-button: #4aa1e6;
@color-button-text: #fff;

.auth-button {
  margin: 20px 0;
  display: inline-block;
  padding: 15px;
  width: 50%;
  background: @color-auth-button;
  color: @color-button-text;

  &:hover {
    color: @color-button-text;
    background: darken(@color-auth-button, 10%);
  }

  &:disabled {
    background: desaturate(@color-auth-button, 30%);
    &:hover {
      color: @color-button-text;
      background: desaturate(@color-auth-button, 30%);
    }
  }
}