@color-cell-empty: #cbeeee;
@color-cell-wrapper: #bcc9dd;
@color-cell-ship: #6e00aa;
@color-cell-miss: #7fe3ee;
@color-cell-hit: #bd007b;

.hover-lighten(@baseColor; @value: 5%) {
  &:hover {
    background: lighten(@baseColor, @value);
  }
}

.cell {
  display: inline-block;
  width: 10%;
  padding: 10% 0 0 0; //make height same as width
  border: 1px solid black;
  margin-bottom: -5px;
}

.empty:extend(.cell) {
  background: @color-cell-empty;
  .hover-lighten(@color-cell-empty);
}

.wrapper:extend(.cell) {
  background: @color-cell-wrapper;
  .hover-lighten(@color-cell-wrapper)
}

.ship:extend(.cell) {
  background: @color-cell-ship;
  .hover-lighten(@color-cell-ship)
}

.miss:extend(.cell) {
  background: @color-cell-miss;
  .hover-lighten(@color-cell-miss);
}

.hit:extend(.cell) {
  background: @color-cell-hit;
  .hover-lighten(@color-cell-hit)
}

.cursor-pointer {
  cursor: pointer;
}
