.profile {
  text-align: center;

  .avatar-container {
    width: 100%;
    margin-bottom: 10px;

    .avatar {
      width: 100%;
    }
  }

  .stats-container {
    & > div {
      width: 100%;
      margin: 15px auto;
    }

    .stats-details > div {
      display: inline-block;
      margin: 0;
      width: 50%;
    }
  }

  .username {
    font-size: 30px;
  }
}

@media(max-width:767px) {
  .profile {
    .avatar-container,
    .stats-container,
    .nav-container {
      display: inline-block;
    }

    .avatar-container {
      float: left;
      width: 30%;
      margin-right: 4%;
    }

    .stats-container,
    .nav-container {
      width: 66%;
    }
  }
}
