@color-online-mark: #20aa36;
@color-offline-mark: #f20d3c;

.mark {
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-right: 10px;
}

.online:extend(.mark) {
  background: @color-online-mark;
}

.offline:extend(.mark) {
  background: @color-offline-mark;
}